@import "~@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* For Firefox */
    scrollbar-width: thin !important;
    scrollbar-color: #092635 #050a0a !important;
}

/* For Chrome */
:root::-webkit-scrollbar {
    width: 2px;
}

:root::-webkit-scrollbar-thumb {
    background-color: #092635;
    border-radius: 12px;
}